<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivy.admin.mapper.ivy.MenuMapper">

	<resultMap id="baseResultMap" type="com.ivy.admin.entity.ivy.Menu">
	    <result column="id" property="id"/>
	    <result column="name" property="name"/>
	    <result column="is_enable" property="isEnable"/>
	</resultMap>

	<sql id="baseColumn">
	    id,
	    name,
	    is_enable
	</sql>

	<sql id="baseCondition">
		<where>
		    <if test="id != null"> and id = #{id}</if>
		    <if test="name != null"> and name = #{name}</if>
		    <if test="isEnable != null"> and is_enable = #{isEnable}</if>
		</where>
	</sql>

    <sql id="basePage">
        <if test="pageStart != null and pageSize != null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </sql>

    <sql id="baseSort">
        <if test="pageSort != null and pageSort != ''">
            ORDER BY #{pageSort}
        </if>
    </sql>

    <select id="selectCount" resultType="int" parameterType="com.ivy.admin.vo.ivy.MenuVo">
        SELECT count(1)
        from ivy_menu
        <include refid="baseCondition"></include>
    </select>

    <select id="selectPage" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ivy.MenuVo">
        SELECT <include refid="baseColumn"></include>
        from ivy_menu
        <include refid="baseCondition"></include>
        <include refid="basePage"></include>
        <include refid="baseSort"></include>
    </select>

	<select id="selectList" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ivy.MenuVo">
		SELECT <include refid="baseColumn"></include>
		from ivy_menu
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<select id="selectOne" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ivy.MenuVo">
		SELECT <include refid="baseColumn"></include>
		from ivy_menu
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<insert id="insert" parameterType="com.ivy.admin.entity.ivy.Menu">
		insert into ivy_menu
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="name != null">name,</if>
			<if test="isEnable != null">is_enable,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="name != null">#{name},</if>
		    <if test="isEnable != null">#{isEnable},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.ivy.admin.entity.ivy.Menu">
		update ivy_menu
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="isEnable != null">is_enable = #{isEnable},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from ivy_menu
		where id = #{id}
	</delete>

</mapper>
