<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivy.admin.mapper.ivy.StatisticsItemMapper">

	<resultMap id="baseResultMap" type="com.ivy.admin.entity.ivy.StatisticsItem">
	    <result column="id" property="id"/>
	    <result column="statistics_id" property="statisticsId"/>
	    <result column="date" property="date"/>
	    <result column="count" property="count"/>
	</resultMap>

	<sql id="baseColumn">
	    id,
	    statistics_id,
	    date,
	    count
	</sql>

	<sql id="baseCondition">
		<where>
		    <if test="id != null"> and id = #{id}</if>
		    <if test="statisticsId != null"> and statistics_id = #{statisticsId}</if>
		    <if test="date != null"> and date = #{date}</if>
		    <if test="count != null"> and count = #{count}</if>
		</where>
	</sql>

    <sql id="basePage">
        <if test="pageStart != null and pageSize != null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </sql>

    <sql id="baseSort">
        <if test="pageSort != null and pageSort != ''">
            ORDER BY #{pageSort}
        </if>
    </sql>

    <select id="selectCount" resultType="int" parameterType="com.ivy.admin.vo.ivy.StatisticsItemVo">
        SELECT count(1)
        from ivy_statistics_item
        <include refid="baseCondition"></include>
    </select>

    <select id="selectPage" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ivy.StatisticsItemVo">
        SELECT <include refid="baseColumn"></include>
        from ivy_statistics_item
        <include refid="baseCondition"></include>
        <include refid="basePage"></include>
        <include refid="baseSort"></include>
    </select>

	<select id="selectList" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ivy.StatisticsItemVo">
		SELECT <include refid="baseColumn"></include>
		from ivy_statistics_item
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<select id="selectOne" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ivy.StatisticsItemVo">
		SELECT <include refid="baseColumn"></include>
		from ivy_statistics_item
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<insert id="insert" parameterType="com.ivy.admin.entity.ivy.StatisticsItem">
		insert into ivy_statistics_item
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="statisticsId != null">statistics_id,</if>
			<if test="date != null">date,</if>
			<if test="count != null">count,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="statisticsId != null">#{statisticsId},</if>
		    <if test="date != null">#{date},</if>
		    <if test="count != null">#{count},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.ivy.admin.entity.ivy.StatisticsItem">
		update ivy_statistics_item
		<set>
			<if test="statisticsId != null">statistics_id = #{statisticsId},</if>
			<if test="date != null">date = #{date},</if>
			<if test="count != null">count = #{count},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from ivy_statistics_item
		where id = #{id}
	</delete>

</mapper>
