<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivy.admin.mapper.ivy.SystemLogMapper">

	<resultMap id="baseResultMap" type="com.ivy.admin.entity.ivy.SystemLog">
	    <result column="id" property="id"/>
	    <result column="login_ip" property="loginIp"/>
	    <result column="mapping" property="mapping"/>
	    <result column="method" property="method"/>
	    <result column="args" property="args"/>
	    <result column="result" property="result"/>
	    <result column="type" property="type"/>
	    <result column="create_time" property="createTime"/>
	    <result column="execute_time" property="executeTime"/>
	</resultMap>

	<sql id="baseColumn">
	    id,
	    login_ip,
	    mapping,
	    method,
	    args,
	    result,
	    type,
	    create_time,
	    execute_time
	</sql>

	<sql id="baseCondition">
		<where>
		    <if test="id != null"> and id = #{id}</if>
		    <if test="loginIp != null"> and login_ip = #{loginIp}</if>
		    <if test="mapping != null"> and mapping = #{mapping}</if>
		    <if test="method != null"> and method = #{method}</if>
		    <if test="args != null"> and args = #{args}</if>
		    <if test="result != null"> and result = #{result}</if>
		    <if test="type != null"> and type = #{type}</if>
		    <if test="createTime != null"> and create_time = #{createTime}</if>
		    <if test="executeTime != null"> and execute_time = #{executeTime}</if>
		</where>
	</sql>

    <sql id="basePage">
        <if test="pageStart != null and pageSize != null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </sql>

    <sql id="baseSort">
        <if test="pageSort != null and pageSort != ''">
            ORDER BY #{pageSort}
        </if>
    </sql>

    <select id="selectCount" resultType="int" parameterType="com.ivy.admin.vo.ivy.SystemLogVo">
        SELECT count(1)
        from ivy_system_log
        <include refid="baseCondition"></include>
    </select>

    <select id="selectPage" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ivy.SystemLogVo">
        SELECT <include refid="baseColumn"></include>
        from ivy_system_log
        <include refid="baseCondition"></include>
        <include refid="basePage"></include>
        <include refid="baseSort"></include>
    </select>

	<select id="selectList" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ivy.SystemLogVo">
		SELECT <include refid="baseColumn"></include>
		from ivy_system_log
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<select id="selectOne" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ivy.SystemLogVo">
		SELECT <include refid="baseColumn"></include>
		from ivy_system_log
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<insert id="insert" parameterType="com.ivy.admin.entity.ivy.SystemLog">
		insert into ivy_system_log
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="loginIp != null">login_ip,</if>
			<if test="mapping != null">mapping,</if>
			<if test="method != null">method,</if>
			<if test="args != null">args,</if>
			<if test="result != null">result,</if>
			<if test="type != null">type,</if>
			<if test="createTime != null">create_time,</if>
			<if test="executeTime != null">execute_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="loginIp != null">#{loginIp},</if>
		    <if test="mapping != null">#{mapping},</if>
		    <if test="method != null">#{method},</if>
		    <if test="args != null">#{args},</if>
		    <if test="result != null">#{result},</if>
		    <if test="type != null">#{type},</if>
		    <if test="createTime != null">#{createTime},</if>
		    <if test="executeTime != null">#{executeTime},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.ivy.admin.entity.ivy.SystemLog">
		update ivy_system_log
		<set>
			<if test="loginIp != null">login_ip = #{loginIp},</if>
			<if test="mapping != null">mapping = #{mapping},</if>
			<if test="method != null">method = #{method},</if>
			<if test="args != null">args = #{args},</if>
			<if test="result != null">result = #{result},</if>
			<if test="type != null">type = #{type},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="executeTime != null">execute_time = #{executeTime},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from ivy_system_log
		where id = #{id}
	</delete>

</mapper>
