<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivy.admin.mapper.ivy.UpdateLogMapper">

	<resultMap id="baseResultMap" type="com.ivy.admin.entity.ivy.UpdateLog">
	    <result column="id" property="id"/>
	    <result column="title" property="title"/>
	    <result column="remark" property="remark"/>
	    <result column="update_time" property="updateTime"/>
	    <result column="color" property="color"/>
	    <result column="icon" property="icon"/>
	</resultMap>

	<sql id="baseColumn">
	    id,
	    title,
	    remark,
	    update_time,
	    color,
	    icon
	</sql>

	<sql id="baseCondition">
		<where>
		    <if test="id != null"> and id = #{id}</if>
		    <if test="title != null"> and title = #{title}</if>
		    <if test="remark != null"> and remark = #{remark}</if>
		    <if test="updateTime != null"> and update_time = #{updateTime}</if>
		    <if test="color != null"> and color = #{color}</if>
		    <if test="icon != null"> and icon = #{icon}</if>
		</where>
	</sql>

    <sql id="basePage">
        <if test="pageStart != null and pageSize != null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </sql>

    <sql id="baseSort">
        <if test="pageSort != null and pageSort != ''">
            ORDER BY #{pageSort}
        </if>
    </sql>

    <select id="selectCount" resultType="int" parameterType="com.ivy.admin.vo.ivy.UpdateLogVo">
        SELECT count(1)
        from ivy_update_log
        <include refid="baseCondition"></include>
    </select>

    <select id="selectPage" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ivy.UpdateLogVo">
        SELECT <include refid="baseColumn"></include>
        from ivy_update_log
        <include refid="baseCondition"></include>
        <include refid="basePage"></include>
        <include refid="baseSort"></include>
    </select>

	<select id="selectList" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ivy.UpdateLogVo">
		SELECT <include refid="baseColumn"></include>
		from ivy_update_log
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<select id="selectOne" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ivy.UpdateLogVo">
		SELECT <include refid="baseColumn"></include>
		from ivy_update_log
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<insert id="insert" parameterType="com.ivy.admin.entity.ivy.UpdateLog">
		insert into ivy_update_log
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="title != null">title,</if>
			<if test="remark != null">remark,</if>
			<if test="updateTime != null">update_time,</if>
			<if test="color != null">color,</if>
			<if test="icon != null">icon,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="title != null">#{title},</if>
		    <if test="remark != null">#{remark},</if>
		    <if test="updateTime != null">#{updateTime},</if>
		    <if test="color != null">#{color},</if>
		    <if test="icon != null">#{icon},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.ivy.admin.entity.ivy.UpdateLog">
		update ivy_update_log
		<set>
			<if test="title != null">title = #{title},</if>
			<if test="remark != null">remark = #{remark},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="color != null">color = #{color},</if>
			<if test="icon != null">icon = #{icon},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from ivy_update_log
		where id = #{id}
	</delete>

</mapper>
