<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivy.admin.mapper.ppsg.ActivityChartMapper">

	<resultMap id="baseResultMap" type="com.ivy.admin.entity.ppsg.ActivityChart">
	    <result column="id" property="id"/>
	    <result column="title" property="title"/>
	    <result column="create_time" property="createTime"/>
	    <result column="url" property="url"/>
	    <result column="del_flag" property="delFlag"/>
	</resultMap>

	<sql id="baseColumn">
	    id,
	    title,
	    create_time,
	    url,
	    del_flag
	</sql>

	<sql id="baseCondition">
		<where>
		    <if test="id != null"> and id = #{id}</if>
		    <if test="title != null"> and title = #{title}</if>
		    <if test="createTime != null"> and create_time = #{createTime}</if>
		    <if test="url != null"> and url = #{url}</if>
		    <if test="delFlag != null"> and del_flag = #{delFlag}</if>
		</where>
	</sql>

    <sql id="basePage">
        <if test="pageStart != null and pageSize != null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </sql>

    <sql id="baseSort">
        <if test="pageSort != null and pageSort != ''">
            ORDER BY #{pageSort}
        </if>
    </sql>

    <select id="selectCount" resultType="int" parameterType="com.ivy.admin.vo.ppsg.ActivityChartVo">
        SELECT count(1)
        from ppsg_activity_chart
        <include refid="baseCondition"></include>
    </select>

    <select id="selectPage" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ppsg.ActivityChartVo">
        SELECT <include refid="baseColumn"></include>
        from ppsg_activity_chart
        <include refid="baseCondition"></include>
		ORDER BY create_time desc
        <include refid="basePage"></include>
    </select>

	<select id="selectList" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ppsg.ActivityChartVo">
		SELECT <include refid="baseColumn"></include>
		from ppsg_activity_chart
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<select id="selectOne" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ppsg.ActivityChartVo">
		SELECT <include refid="baseColumn"></include>
		from ppsg_activity_chart
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<insert id="insert" parameterType="com.ivy.admin.entity.ppsg.ActivityChart">
		insert into ppsg_activity_chart
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="title != null">title,</if>
			<if test="createTime != null">create_time,</if>
			<if test="url != null">url,</if>
			<if test="delFlag != null">del_flag,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="title != null">#{title},</if>
		    <if test="createTime != null">#{createTime},</if>
		    <if test="url != null">#{url},</if>
		    <if test="delFlag != null">#{delFlag},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.ivy.admin.entity.ppsg.ActivityChart">
		update ppsg_activity_chart
		<set>
			<if test="title != null">title = #{title},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="url != null">url = #{url},</if>
			<if test="delFlag != null">del_flag = #{delFlag},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from ppsg_activity_chart
		where id = #{id}
	</delete>

</mapper>
