<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivy.admin.mapper.ppsg.GeneralSkillPassiveMapper">

	<resultMap id="baseResultMap" type="com.ivy.admin.entity.ppsg.GeneralSkillPassive">
	    <result column="id" property="id"/>
	    <result column="general_id" property="generalId"/>
	    <result column="general_name" property="generalName"/>
	    <result column="name" property="name"/>
	    <result column="effect" property="effect"/>
	    <result column="combat" property="combat"/>
	</resultMap>

	<sql id="baseColumn">
	    id,
	    general_id,
	    general_name,
	    name,
	    effect,
	    combat
	</sql>

	<sql id="baseCondition">
		<where>
		    <if test="id != null"> and id = #{id}</if>
		    <if test="generalId != null"> and general_id = #{generalId}</if>
		    <if test="generalName != null"> and general_name = #{generalName}</if>
		    <if test="name != null"> and name = #{name}</if>
		    <if test="effect != null"> and effect = #{effect}</if>
		    <if test="combat != null"> and combat = #{combat}</if>
		</where>
	</sql>

    <sql id="basePage">
        <if test="pageStart != null and pageSize != null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </sql>

    <sql id="baseSort">
        <if test="pageSort != null and pageSort != ''">
            ORDER BY #{pageSort}
        </if>
    </sql>

    <select id="selectCount" resultType="int" parameterType="com.ivy.admin.vo.ppsg.GeneralSkillPassiveVo">
        SELECT count(1)
        from ppsg_general_skill_passive
        <include refid="baseCondition"></include>
    </select>

    <select id="selectPage" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ppsg.GeneralSkillPassiveVo">
        SELECT <include refid="baseColumn"></include>
        from ppsg_general_skill_passive
        <include refid="baseCondition"></include>
        <include refid="baseSort"></include>
        <include refid="basePage"></include>
    </select>

	<select id="selectList" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ppsg.GeneralSkillPassiveVo">
		SELECT <include refid="baseColumn"></include>
		from ppsg_general_skill_passive
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<select id="selectOne" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ppsg.GeneralSkillPassiveVo">
		SELECT <include refid="baseColumn"></include>
		from ppsg_general_skill_passive
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<insert id="insert" parameterType="com.ivy.admin.entity.ppsg.GeneralSkillPassive">
		insert into ppsg_general_skill_passive
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="generalId != null">general_id,</if>
			<if test="generalName != null">general_name,</if>
			<if test="name != null">name,</if>
			<if test="effect != null">effect,</if>
			<if test="combat != null">combat,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="generalId != null">#{generalId},</if>
		    <if test="generalName != null">#{generalName},</if>
		    <if test="name != null">#{name},</if>
		    <if test="effect != null">#{effect},</if>
		    <if test="combat != null">#{combat},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.ivy.admin.entity.ppsg.GeneralSkillPassive">
		update ppsg_general_skill_passive
		<set>
			<if test="generalId != null">general_id = #{generalId},</if>
			<if test="generalName != null">general_name = #{generalName},</if>
			<if test="name != null">name = #{name},</if>
			<if test="effect != null">effect = #{effect},</if>
			<if test="combat != null">combat = #{combat},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from ppsg_general_skill_passive
		where id = #{id}
	</delete>

</mapper>
