<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivy.admin.mapper.ppsg.GeneralWeaponMapper">

	<resultMap id="baseResultMap" type="com.ivy.admin.entity.ppsg.GeneralWeapon">
	    <result column="id" property="id"/>
	    <result column="name" property="name"/>
	    <result column="weapon_code" property="weaponCode"/>
	    <result column="weapon_name" property="weaponName"/>
	    <result column="general_id" property="generalId"/>
	    <result column="general_name" property="generalName"/>
	</resultMap>

	<sql id="baseColumn">
	    id,
	    name,
	    weapon_code,
	    weapon_name,
	    general_id,
	    general_name
	</sql>

	<sql id="baseCondition">
		<where>
		    <if test="id != null"> and id = #{id}</if>
		    <if test="name != null"> and name = #{name}</if>
		    <if test="weaponCode != null"> and weapon_code = #{weaponCode}</if>
		    <if test="weaponName != null"> and weapon_name = #{weaponName}</if>
		    <if test="generalId != null"> and general_id = #{generalId}</if>
		    <if test="generalName != null"> and general_name = #{generalName}</if>
		</where>
	</sql>

    <sql id="basePage">
        <if test="pageStart != null and pageSize != null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </sql>

    <sql id="baseSort">
        <if test="pageSort != null and pageSort != ''">
            ORDER BY #{pageSort}
        </if>
    </sql>

    <select id="selectCount" resultType="int" parameterType="com.ivy.admin.vo.ppsg.GeneralWeaponVo">
        SELECT count(1)
        from ppsg_general_weapon
        <include refid="baseCondition"></include>
    </select>

    <select id="selectPage" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ppsg.GeneralWeaponVo">
        SELECT <include refid="baseColumn"></include>
        from ppsg_general_weapon
        <include refid="baseCondition"></include>
        <include refid="baseSort"></include>
        <include refid="basePage"></include>
    </select>

	<select id="selectList" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ppsg.GeneralWeaponVo">
		SELECT <include refid="baseColumn"></include>
		from ppsg_general_weapon
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<select id="selectOne" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ppsg.GeneralWeaponVo">
		SELECT <include refid="baseColumn"></include>
		from ppsg_general_weapon
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<insert id="insert" parameterType="com.ivy.admin.entity.ppsg.GeneralWeapon">
		insert into ppsg_general_weapon
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="name != null">name,</if>
			<if test="weaponCode != null">weapon_code,</if>
			<if test="weaponName != null">weapon_name,</if>
			<if test="generalId != null">general_id,</if>
			<if test="generalName != null">general_name,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="name != null">#{name},</if>
		    <if test="weaponCode != null">#{weaponCode},</if>
		    <if test="weaponName != null">#{weaponName},</if>
		    <if test="generalId != null">#{generalId},</if>
		    <if test="generalName != null">#{generalName},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.ivy.admin.entity.ppsg.GeneralWeapon">
		update ppsg_general_weapon
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="weaponCode != null">weapon_code = #{weaponCode},</if>
			<if test="weaponName != null">weapon_name = #{weaponName},</if>
			<if test="generalId != null">general_id = #{generalId},</if>
			<if test="generalName != null">general_name = #{generalName},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from ppsg_general_weapon
		where id = #{id}
	</delete>

	<delete id="deleteByGeneralId" parameterType="java.lang.Long">
		delete from ppsg_general_weapon
		where general_id = #{id}
	</delete>
</mapper>
