<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivy.admin.mapper.ppsg.GeneralSkinMapper">

	<resultMap id="baseResultMap" type="com.ivy.admin.entity.ppsg.GeneralSkin">
	    <result column="id" property="id"/>
	    <result column="name" property="name"/>
	    <result column="general_id" property="generalId"/>
	    <result column="general_name" property="generalName"/>
	    <result column="force" property="force"/>
	    <result column="intellect" property="intellect"/>
	    <result column="troops" property="troops"/>
	</resultMap>

	<sql id="baseColumn">
	    id,
	    name,
	    general_id,
	    general_name,
	    force,
	    intellect,
	    troops
	</sql>

	<sql id="baseCondition">
		<where>
		    <if test="id != null"> and id = #{id}</if>
		    <if test="name != null"> and name = #{name}</if>
		    <if test="generalId != null"> and general_id = #{generalId}</if>
		    <if test="generalName != null"> and general_name = #{generalName}</if>
		    <if test="force != null"> and force = #{force}</if>
		    <if test="intellect != null"> and intellect = #{intellect}</if>
		    <if test="troops != null"> and troops = #{troops}</if>
		</where>
	</sql>

    <sql id="basePage">
        <if test="pageStart != null and pageSize != null">
            LIMIT #{pageStart},#{pageSize}
        </if>
    </sql>

    <sql id="baseSort">
        <if test="pageSort != null and pageSort != ''">
            ORDER BY #{pageSort}
        </if>
    </sql>

    <select id="selectCount" resultType="int" parameterType="com.ivy.admin.vo.ppsg.GeneralSkinVo">
        SELECT count(1)
        from ppsg_general_skin
        <include refid="baseCondition"></include>
    </select>

    <select id="selectPage" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ppsg.GeneralSkinVo">
        SELECT <include refid="baseColumn"></include>
        from ppsg_general_skin
        <include refid="baseCondition"></include>
        <include refid="baseSort"></include>
        <include refid="basePage"></include>
    </select>

	<select id="selectList" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ppsg.GeneralSkinVo">
		SELECT <include refid="baseColumn"></include>
		from ppsg_general_skin
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<select id="selectOne" resultMap="baseResultMap" parameterType="com.ivy.admin.vo.ppsg.GeneralSkinVo">
		SELECT <include refid="baseColumn"></include>
		from ppsg_general_skin
		<include refid="baseCondition"></include>
        <include refid="baseSort"></include>
	</select>

	<insert id="insert" parameterType="com.ivy.admin.entity.ppsg.GeneralSkin">
		insert into ppsg_general_skin
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="name != null">name,</if>
			<if test="generalId != null">general_id,</if>
			<if test="generalName != null">general_name,</if>
			<if test="force != null">force,</if>
			<if test="intellect != null">intellect,</if>
			<if test="troops != null">troops,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="name != null">#{name},</if>
		    <if test="generalId != null">#{generalId},</if>
		    <if test="generalName != null">#{generalName},</if>
		    <if test="force != null">#{force},</if>
		    <if test="intellect != null">#{intellect},</if>
		    <if test="troops != null">#{troops},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.ivy.admin.entity.ppsg.GeneralSkin">
		update ppsg_general_skin
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="generalId != null">general_id = #{generalId},</if>
			<if test="generalName != null">general_name = #{generalName},</if>
			<if test="force != null">force = #{force},</if>
			<if test="intellect != null">intellect = #{intellect},</if>
			<if test="troops != null">troops = #{troops},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from ppsg_general_skin
		where id = #{id}
	</delete>

</mapper>
